

<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
           <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="#/">Budget Analysis</a>    </div>
      <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li><a href="#/">Home</a></li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transactions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#income">Add New Income</a></li>
                <li><a href="#expense">Add New Expense</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#categories">Manage Transaction Categories</a></li>
              </ul>
            </li>
            <li><a href="#reports">Reports</a></li>
         </ul>
      </div>
      <!--/.nav-collapse -->
   </div>
</div>

<!-- /.container -->
